
@model Entities.Enquiry

@{
    ViewData["Title"] = "Thanks";
}

<br />

<h1>EnquirySent</h1>
<br />

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EnquiryText)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.EnquiryText)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.EmailAddress)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.DateEnquiryMade)
        </dt>
        <dt>
            @Html.DisplayFor(model => model.DateEnquiryMade)
        </dt>
    </dl>
</div>
<div>
    <a asp-action="Index">Home</a>
</div>
